@model Event_Management_System_BootCamp.DbContext.HallBooking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HallBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HallName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HallName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddvancePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddvancePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No0fAudience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No0fAudience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Services.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
