@model Event_Management_System_BootCamp.DbContext.Hall

@{
    ViewBag.Title = "HallAvalibility";
    Layout = "~/Views/Shared/_HallBooking.cshtml";

}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Mycss/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="~/Content/Mycss/style.css" rel='stylesheet' type='text/css' />
<link href="~/Content/Mycss/font-awesome.min.css" rel="stylesheet">
@*<h1>Search Hall Avalibility</h1>*@
@*<h2>HallAvalibility</h2>*@

<br />
<br />
<br />
<br />

<script>

    function showavailability() {

        var x = document.getElementById("availabilityDIV");
        x.style.display = "block";
    }


</script>
<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">

        <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold"><span class="text-bl">Search Hall Avalibility</span></h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hall</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.HallName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="HallName">
                @Html.EditorFor(model => model.HallName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HallName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TimeSlot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.TimeSlot, new List<SelectListItem>
                 { new SelectListItem{Text="Evening", Value="Evening"},
                 new SelectListItem{Text="Night", Value="Night"},
                    new SelectListItem{Text="Evening/Night", Value="Evening/Night"}}, "Please select", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.TimeSlot, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.SeatingCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeatingCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SeatingCapacity, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.MinimumBookingCapacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinimumBookingCapacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MinimumBookingCapacity, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Address">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_ID, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("User_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User_ID, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
              
        }
        <div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" value="Create" onclick="showavailability()">Search</button>
                    @*<button type="reset" class="btn btn-danger ">Cancel</button>*@
                </div>
            </div>


            <div id="availabilityDIV" style="display:none;">
                <center>
                    <h1> Congratulation: Hall Available </h1>
                    <span class="next">
                        @Html.ActionLink(" Proceed for Hall Booking ", "Create") <a> &raquo </a>
                    </span>
                </center>
            </div>
        </div>

        <br />
        <br />
        <br />

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



