@model Event_Management_System_BootCamp.DbContext.Dj

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dj.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
@*<link href="~/Content/Mycss/bootstrap.css" rel='stylesheet' type='text/css' />*@
<link href="~/Content/Mycss/style.css" rel='stylesheet' type='text/css' />
<link href="~/Content/Mycss/font-awesome.min.css" rel="stylesheet">
<h2>Details</h2>
<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">

        <br />
        <br />
        <br />
        <br />

        <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold"><span class="text-bl">Dj Detail</span></h3>
        <div>
            <h4>Dj</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Speaker)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Speaker)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SoundSystem)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoundSystem)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>
        </div>



        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>
            <span> <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-success ">Edit</a>  </span>
           
            <span>
                <a href="@Url.Action("Index", new { id = Model.Id})" class="btn btn-outline-danger">Back to List</a>
            </span>
           
           
        </p>
    </div>


</div>

