@model IEnumerable<Event_Management_System_BootCamp.DbContext.Dj>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dj.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Mycss/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="~/Content/Mycss/style.css" rel='stylesheet' type='text/css' />
<link href="~/Content/Mycss/font-awesome.min.css" rel="stylesheet">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">

        <br />
        <br />
        <br />
        <br />

        <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold"><span class="text-bl">Dj List</span></h3>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Speaker)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoundSystem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Speaker)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoundSystem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                    <td>
                        <span> <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success ">Edit</a>  </span>
                        <span>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary">Details</a>
                        </span>
                        <span>
                            <a href="@Url.Action("Delete", new { id = item.Id})" class="btn btn-danger">Delete</a>
                        </span>

                    </td>

                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                </tr>
            }

        </table>
    </div>


</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


